body {
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

footer {
    background-color: transparent; 
    backdrop-filter: blur(3px); 
    color: #ffffff; 
    padding: 10px 0; 
    text-align: center; 
    border-radius: 50px;
    bottom: 0;
    width: 50%;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    animation: glow 7s linear infinite alternate; 
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 900px; 
}

.title {
    align-items: center; 
    width: 60%;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    transition: ease-in 0.2s;
}

.title:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
    transition: ease-in 0.3s;
}

.title-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
    z-index: 10; 
    cursor: pointer; 
    position: relative; 
}

.title-share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}


.image-container {
    height: 150px;
    width: 150px;
    border-radius: 80px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.fab {
    margin: 4px 8px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
@keyframes glow {
    5% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    80% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    }
}

.spotify-container {
    width: 60%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    transition: ease-in 0.2s;
}

.spotify-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: rgb(240, 240, 240);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}

.spotify-link:hover {
    background-color: #1aa34a;
    transition: background-color 0.3s ease;
}

.spotify-embed {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    border-radius: 12px;
}

.spotify-embed iframe {
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 152px;
}

.spotify-embed.active {
    max-height: 200px;
    opacity: 1;
}
